<nav class="flex space-x-4 justify-center items-center p-1 bg-purple-200 text-grey">
    <label>
        <div>
            <a class="hover:bg-purple-300 group flex rounded-md pl-2 pr-3 py-2 shadow-sm">Agregar</a>
          </div>
    </label>
    <label>
        <div>
            <a class="hover:bg-purple-300 group flex rounded-md pl-2 pr-3 py-2 shadow-sm">Buscar</a>
          </div>
    </label>
    <label>
        <div>
            <a class="hover:bg-purple-300 group flex rounded-md pl-2 pr-3 py-2 shadow-sm">Eliminar</a>
          </div>
    </label>
    <label>
        <div>
            <a class="hover:bg-purple-300 group flex rounded-md pl-2 pr-3 py-2 shadow-sm">Modificar</a>
          </div>
    </label>
    <label>
        <div>
            <a class="hover:bg-purple-300 group flex rounded-md pl-2 pr-3 py-2 shadow-sm">Listar</a>
          </div>
    </label>
</nav>
<h1>Pagina de Fichas</h1>