<div class="flex">
  <span class="pr-10">Fecha desde</span>
  <input type="date" name="fechaDesde" />
  <span class="pr-10">Fecha hasta</span>
  <input type="date" name="fechaHasta" />
</div>
<div class="flex">
  <span class="pr-10">Empleado</span>
  <input class="pr-10" type="text" name="empleado" />
  <button class="pr-10">Buscar</button>
  <span class="px-10">Cliente</span>
  <input class="px-10" type="text" name="cliente" />
  <button>Buscar</button>
</div>
<div *nglf="fichas.length > 0">
  <table border="1">
    <tr>
      <th>Fecha</th>
      <th>Empleado</th>
      <th>Cliente</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let f of fichas">
      <td>{{ f.fechaHora }}</td>
      <td>{{ f.motivoConsulta }}</td>
      <td>{{ f.diagnostico }}</td>
      <td>
        <button>Ver</button>
        <button>Editar</button>
        <button>Borrar</button>
      </td>
    </tr>
  </table>
</div>
