<nav class="flex justify-between p-4 bg-purple-900 text-white">
  <div>
    <h1>Centro de rehabilitación fisioterapéutico</h1>
  </div>
  <div>
    <a
      class="hover:bg-purple-300 group flex rounded-md pl-2 pr-3 py-2 shadow-sm"
      routerLink="/fichas-clinicas"
      >Fichas</a
    >
  </div>
  <div>
    <a
      class="hover:bg-purple-300 group flex rounded-md pl-2 pr-3 py-2 shadow-sm"
      routerLink="/servicios"
      >Servicios</a
    >
  </div>
  <div>
    <a
      class="hover:bg-purple-300 group flex rounded-md pl-2 pr-3 py-2 shadow-sm"
      routerLink="/reservas"
      >Reservas</a
    >
  </div>
</nav>
<router-outlet></router-outlet>
